


<main ng-controller="artCtrl">
    <div class="options">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="col-md-4">修改时间</span>
                    <div class="col-md-8">
                        <p class="input-group">
                            <input type="text"
                                   class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="params.startAt"
                                   is-open="popup1.opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   close-text="Close"
                                   alt-input-formats="altInputFormats"
                            />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="to col-md-4">——</span>
                    <div class="col-md-8">
                        <p class="input-group">
                            <input type="text"
                                   class="form-control"
                                   uib-datepicker-popup
                                   ng-model="params.endAt"
                                   is-open="popup2.opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   close-text="Close"
                            />
                            <span class="input-group-btn">
                                   <button type="button" class="btn btn-default" ng-click="open2()">
                                       <i class="glyphicon glyphicon-calendar"></i>
                                   </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="col-md-4">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</span>
                    <div class="col-md-8">
                        <select>
                            <option>全部</option>
                            <option>找首位banner</option>
                            <option>找职位banner</option>
                            <option>找精英banner</option>
                            <option>行业大图</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="type col-md-4">
                    <span class="col-md-4">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</span>
                    <div class="col-md-8">
                        <select>
                            <option>全部</option>
                            <option>草稿</option>
                            <option>上线</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="operation">
                        <button class="clear" ng-click="clear()">清空</button>
                        <button class="search" ng-click="search()">搜索</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article">
        <div class="title">
            <p>Article列表</p>
            <button>+新增</button>
        </div>
        <div class="tables">
            <!--table-striped隔行变色-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>图片</th>
                    <th>类型</th>
                    <th>发布时间</th>
                    <th>修改时间</th>
                    <th>发布者</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <thead>
                <tr ng-repeat="lis in lists">
                    <td>{{$index+1}}</td>
                    <td>{{lis.title}}</td>
                    <td><img ng-src={{lis.img}} class="test1"></td>
                    <td>{{lis.type|changeType}}</td>
                    <td>{{lis.createAt|date:"yyyy-MM-dd"}}</td>
                    <td>{{lis.updateAt|date:'yyyy-MM-dd'}}</td>
                    <td>{{lis.author}}</td>
                    <td>{{lis.status|changeStatus}}</td>
                    <td>
                        <div>
                            <a>下线</a>
                            <a>编辑</a>
                            <a>删除</a>
                        </div>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="Pagination">
        <ul uib-pagination
            total-items="bigTotalItems"
            ng-model="bigCurrentPage"
            max-size="maxSize"
            class="pagination-sm"
            boundary-links="true"
            rotate="false"
            ng-change="page(bigCurrentPage)"></ul>
    </div>
</main>
