
<main>
    <div class="desk">
        <div class="bgr">
            <form name="loginForm" novalidate ng-submit="myLogin()">
                <p class="head">后台登录</p>
                <div class="unames">
                    <img src="images/name.png">
                    <input type="text"
                           name="unames"
                           ng-model="param.name"
                           ng-minlength="3"
                           ng-maxlength="10"
                           placeholder="请输入用户名" required>
                </div>
                <!--帐号输入非法时错误信息提示内容-->
                <div class="error" ng-messages="loginForm.unames.$error" ng-if="loginForm.unames.$touched">
                    <span ng-message="minlength">用户名太短</span>
                    <span ng-message="maxlength">用户名太长</span>
                    <span ng-message="required">用户名必填</span>
                </div>

                <div class="unames">
                    <img src="images/password.png">
                    <input type="password"
                           name="upwd"
                           ng-model="param.pwd"
                           ng-minlength="6"
                           ng-maxlength="16"
                           placeholder="请输入密码" required>
                </div>
                <!--密码输入非法时错误信息提示内容-->
                <div class="error" ng-messages="loginForm.upwd.$error" ng-if="loginForm.upwd.$touched">
                    <span ng-message="minlength">用户名太短</span>
                    <span ng-message="maxlength">用户名太长</span>
                    <span ng-message="required">密码必填</span>
                </div>

                <p id="hint">{{_test}}</p>
                <button id="login" type="submit" value="登录" ng-disabled="loginForm.$invalid">登录</button>
            </form>
        </div>
    </div>
</main>

