body {
  font-size: 62.5%;
  background: url("img/background.jpg") no-repeat;
  background-size: 100% auto;
}
h1 {
  text-align: center;
  color: #29bde0;
}
.css {
  position: absolute;
  margin-left: 5rem;
}
.js {
  position: relative;
  margin-right: 5rem;
  float: right;
}
.css, .js {
  margin-top: 2rem;
}
.btn {
  padding: 6px 20px;
}
.dropdown-menu {
  min-width: 0;
}