
* {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  max-width: 780px;
  min-width: 320px;
  margin: 0 auto;
  header {
    max-width: 780px;
    min-width: 320px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 3rem;
    background: #29bde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border: 0;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    input:focus {
      outline: none;
    }
    .header-left {
      background: url("../images/header-left .png") no-repeat;
      background-size: 32px;
      margin-left: 1rem;
    }
    .header-right {
      background: url("../images/header-right.png") no-repeat;
      background-size: 32px;
      margin-right: 1rem;
    }
    p {
      height: 3rem;
      margin: 0;
      color: white;
      font-size: 1.2rem;
    }
  }
  main {
    background: #f0f0f0;
    margin-top: 3rem;
    padding: 1rem 1rem;
    .role {
      width: 100%;
      height: 15rem;
      display: flex;
      .role-left {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-right: 1px solid #d9d9d9;
        p {
          width: 1.2rem;
          font-size: 1.2rem;
        }
      }
      .role-right {
        width: 80%;
        background: #fbfbfb;
        .view {
          width: 100%;
          height: 12rem;
        }
        .setting {
          width: 100%;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          border-top: 1px solid #d9d9d9;
        }
      }
    }
    .keyword {
      margin-top: 0.5rem;
      padding: 0 1rem 1rem;
      background: white;
      input {
        width: 100%;
        padding: 1rem 0 0.5rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #f0f0f0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
      }
      input::-webkit-input-placeholder{
        color: #f0f0f0;
      }
      input:focus {
        outline: none;
      }
    }
    .people {
      width: 100%;
      height: 8rem;
      background: white;
      padding: 0.5rem 1rem;
      margin-top: 0.5rem;
      div {
        display: flex;
        p {
          margin: 0.15rem 0;
          font-size: 1.2rem;
        }
        input {
          margin: 0 1rem;
          width: 2.5rem;
          background: #f4f5f5;
          border: none;
          color: #fab344;
          font-size: 1.5rem;
          text-align: center;
        }
        input:focus {
          outline: none;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none !important;
        }
      }
    }
    .footer {
      margin-top: 1rem;
      input {
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1.5rem;
        background: #fab344;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
      }
      input:focus {
        outline: none;
      }
    }
  }
}