body {
  font-size: 62.5%;
}
header {
  height: 4rem;
  background: #5fc0cd;
  color: white;
  line-height: 4rem;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:focus {
  color: white;
  text-decoration: none;
}
span {
  font-size: 2rem;
}
.header-left {
  float: left;
  margin-left: 2rem;
}
.header-right {
  float: right;
  margin-right: 2rem;
}