body {
    margin: 0;
    font-size: 62.5%;
}
.div1 {
    margin: 0.5rem 0;
}
.col-md-8 {

}
.service {
    color: #42b683;
}
.div1-1 {
    margin: 0.5rem 0;
    float: right;
}
header{
    width: 100%;
    height: 6rem;
    background: #29b078;
}
.div2 {
    width: 100%;
    line-height: 6rem;
}
.div2-1 {
    width: 8.5rem;
    height: 4rem;
    margin-top: 1rem;
    background: url("image/25-task8.png") no-repeat;
    transform: scale(1);
}
.li1 {
    height: 6rem;
    margin: 0 1.5rem;
}
.li2 {
    margin: 0 0 0 1.5rem;
}
.li1:hover {
    border-bottom: 2px solid white;
}
.li2:hover {
    border-bottom: 2px solid white;
}
.carousel-control {
    font-size: 100px;
    padding-top: 10%;
}
.carousel-control.left {
    float: right;
}
.navbar {
    float: right;
    margin: 0;
}
.navbar-default {
    background: none;
    border: none;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.navbar-nav {
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
.navbar-nav>li>a {
    padding: 0;
    line-height: 6rem;
}
.navbar-default .navbar-nav>li>a:focus {
    color: white;
}
.div3 {
    height: 30rem;
    background: url("image/24-task8.png") no-repeat center;
    background-size: cover;
}
main {
    background: #fafafa;
    padding: 0 5%;
}
.div4-1 {
    margin: 3rem 0;
}
.div4-1-1 {
    text-align: center;
}
.img1-1 {
    padding: 0 9px;
    transform: scale(0.6);
}
.img1-2 {
    padding: 7px 0;
    transform: scale(0.6);
}
.img1-3 {
    padding: 4px 4px;
    transform: scale(0.6);
}
p {
    margin: 0;
}
.p1 {
    text-align: center;
    margin: 1rem 0;
}
.p2 {
    color: #999999;
    text-align: center;
    padding: 1rem 1.5rem;
}
.div4-2 {
    padding: 25px 30px;
    margin: 5rem 0;
    border-left: 1px dashed #999999;
    display: flex;
    align-items: center;
}
.div4-2-1 {
    padding: 5% 0;
}
.div4-2-2 {
    display: flex;
    font-weight: bold;
    color: #26a26f;
}
.img2 {
    height: 15px;
    padding: 0;
    transform: scale(0.8);
}
.p3 {
    color: #999999;
    white-space: nowrap;
}
.p4 {
    margin: 4rem 0;
    text-align: center;
    font-weight: bold;
}
.div5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div5-3 {
    display: flex;
    align-items: center;
}
.div5-1 {
    width: 4rem;
    height: 4rem;
    color: #29b078;
    text-align: center;
    line-height: 4rem;
    margin-right: 1rem;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #999999;
}
.div5-2 {
    margin-bottom: 8rem;
}
.p5 {
    color: #999999;
    width: 50%;
}
.div6 {
    text-align: center;
    background: white;
}
.img3 {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: scale(0.8);
}
.div7 {
    display: flex;
    justify-content: center;
    margin: 2rem 0 6rem 0;
}
.div7-1 {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0 0.5rem 0.5rem;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.div7-1:hover {
    background: #29b078;
}
.col-md-5 {
    width: 20%;
    padding: 0;
}
.div8 {
    width: auto;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    background: white;
}
@media screen and (min-width: 1201px) {
    .div8 {width: auto;}
}
@media screen and (max-width: 1200px) {
    .div8 {width: auto;}
}
@media screen and (max-width: 900px) {
    .div8 {width: 187px;}
}
@media screen and (max-width: 500px) {
    .div8 {width: 187px;}
}
.div8:hover {
    box-shadow: 0 0 5px #999999;
}
.div8-1 {
    width: auto;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5rem 15px;
    background: white;
}
.div8-1:hover {
    box-shadow: 0 0 5px #999999;
}
.div8-2 {
    width: auto;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 5rem;
    background: white;
}
.div8-2:hover {
    box-shadow: 0 0 5px #999999;
}
.img4 {
    transform: scale(0.8);
}
.p6 {
    margin: 2rem 0;
    text-align: center;
    font-weight: bold;
}
.div9 {
    margin-bottom: 10rem;
}
.col-md-10 {
    width: 10%;
}
@media screen and (min-width: 1201px) {
    .col-md-10 {width: 10%;}
}
@media screen and (max-width: 1200px) {
    .col-md-10 {width: 10%;}
}
@media screen and (max-width: 900px) {
    .col-md-10 {width: 97px;}
}
@media screen and (max-width: 500px) {
    .col-md-10 {width: 97px;}
}
.ul1 {
    margin: 0 0 1rem 0;
    padding: 0 0 0 15px;
    color: #999999;
    cursor: pointer;
}
.li3 {
    height: 18px;
}
.ul1:hover {
    border-bottom: 1px solid #26a26f;
}
footer {
    width: 100%;
    height: 10rem;
    color: white;
    background: #26a26f;
    bottom: 0;
}
.p7 {
    font-size: 1rem;
    margin: 1rem 0;
}
a:focus {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
.a1 {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 2px solid white;
    text-decoration: none;
    color: white;
}
.span1 {
    margin: 1rem 0;
}
.a2 {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
}
.a2:hover {
    border-bottom: 1px solid white;
}
.div10 {
    margin-top: 0.5rem;
    float: right;
    font-size: 1.5rem;
    text-align: center;
}
.p9 {
    text-align: center;
    color: white;
    background: #26a26f;
    border-top: 1px solid #32c086;
}
