body {
    margin: 0;
    font-size: 62.5%;
}
.div1 {
    margin: 0.5rem 0;
}
.col-md-8 {

}
.service {
    color: #42b683;
}
.div1-1 {
    margin: 0.5rem 0;
    float: right;
}
header{
    width: 100%;
    height: 6rem;
    background: #29b078;
}
.div2 {
    width: 100%;
    line-height: 6rem;
}
.div2-1 {
    width: 8.5rem;
    height: 4rem;
    margin-top: 1rem;
    background: url("image/25-task8.png") no-repeat;
    transform: scale(1);
}
ul {
    flex-direction: row;
}
li {
    height: 6rem;
    padding: 0 1.5rem;
}
.li1 {
    padding: 0 0 0 1.5rem;
}
li:hover {
    border-bottom: 2px solid white;
}
.navbar {
    float: right;
    margin: 0;
}
.navbar-default {
    background: none;
    border: none;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.navbar-nav {
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
.navbar-nav>li>a {
    padding: 0;
    line-height: 6rem;
}
.navbar-default .navbar-nav>li>a:focus {
    color: white;
}
.div3 {
    height: 30rem;
    background: url("image/24-task8.png") no-repeat center;
    background-size: cover;
}
main {
    background: #fafafa;
    padding: 0 5%;
}
.div4-1 {
    margin: 3rem 0;
}
.div4-1-1 {
    text-align: center;
}
.img1-1 {
    padding: 0 9px;
    transform: scale(0.6);
}
.img1-2 {
    padding: 7px 0;
    transform: scale(0.6);
}
.img1-3 {
    padding: 4px 4px;
    transform: scale(0.6);
}
p {
    margin: 0;
}
.p1 {
    text-align: center;
}
.p2 {
    color: #999999;
    text-align: center;
}
.div4-2 {
    padding: 0 30px;
    margin: 5rem 0;
    border-left: 1px dashed #999999;
    display: flex;
    align-items: center;
}
.div4-2-1 {
    padding: 5% 0;
}
.div4-2-2 {
    display: flex;
    font-weight: bold;
    color: #26a26f;
}
.img2 {
    height: 15px;
    padding: 0;
    transform: scale(0.8);
}
.p3 {
    color: #999999;
    white-space: nowrap;
}
.p4 {
    margin: 2rem 0;
    text-align: center;
    font-weight: bold;
}
.div5 {
    display: flex;
    align-items: center;
}
.div5-1 {
    width: 4rem;
    height: 4rem;
    color: #29b078;
    text-align: center;
    line-height: 4rem;
    margin-right: 1rem;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #999999;
    flex-shrink: 0;
}
.div5-2 {
    margin-bottom: 8rem;
}
