html {
    height:100%;
}
body {
    min-height:100%;
}
#sideToggle {
    display:none;
}
#sideToggle:checked + aside {
    left:0;
}
#sideToggle:checked ~ #wrap{ padding-left:220px; }
body > aside{ position:absolute; top:0; bottom:0; left:-200px; width:200px; background:#f1103a; transition:0.2s ease-out; -webkit-transition:0.2s ease-out; }
#wrap{ background: #f1a750}
#wrap > label{ display:inline-block; }
#wrap > label{
    width: 1.5rem;
    height: 1.5rem;
    background: url("images/1-task7.png") no-repeat;
    background-size: 1.5rem 1.5rem;
    cursor: pointer;
    display: block;
}
