body {
    font-size: 62.5%;
    margin: 0;
}
header {
    position:fixed;
    left: 0;
    top: 0;
    width:100%;
    background: #5fc0cd;
    text-align: center;
    color: white;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
}
a {
    float: left;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: white;
    text-decoration: none;
}
main {
    margin-top: 3rem;
}
.image1 {
    background: url("image/1-task5.png") no-repeat center;
    background-size: cover;
    /*filter: blur(2px);*/
    height: 12rem;
    color: white;
}
.image2 {
    background: white;
    /*background-size: 5rem 5rem;*/
    width: 5rem;
    height: 5rem;
    margin-top: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
}
.image4 {
    width: 0.8rem;
    height: 1rem;
    margin-left: 1.7rem;
    margin-bottom: 1.3rem;
}
.text1 {
    /*font-size: 1rem;*/
    margin-left: 8rem;
    margin-top: -4rem;
}
.text2 {
    margin-left: 9.5rem;
    margin-top: -0.5rem;
}
.div1 {
    border-bottom: 1px solid #e1e5e7;
}
.text3 {
    border-left: 0.2rem solid #5fc0cd;
    padding-left: 0.5rem;
    margin-left: 1rem;
}
.div2 {
    height: 2.7rem;
    margin: 0 1rem;
    border-bottom: 1px solid #e1e5e7;
}
.image5 {
    width: 1rem;
    height: 1rem;
    margin: 0.7rem 0 0 1.2rem;
}
.text4 {
    margin: -1.2rem 0 0 2.5rem;
}
.image6 {
    width: 1rem;
    height: 1rem;
    float: left;
    margin: -1rem 0 0 6rem;
}
.text5 {
    float: left;
    margin: -1rem 0 0 7.2rem;
}
.div3 {
    margin: 1rem 1rem;
    border-bottom: 1px solid #e1e5e7;
}
.text6 {
    margin: 0 0 -1.1rem 1rem;
    color: #999999;
}
.text7 {
    margin: 0 0 0.7rem 5rem;
    padding-left: 1rem;
    color: black;
    border-left: 1px solid #e1e5e7;
}
.text8 {
    height: 1rem;
    margin: 0 0 0.7rem 5rem;
    padding-left: 1rem;
    line-height: 1rem;
    color: #e26163;
    border-left: 1px solid #e1e5e7;
}
.div4 {
    margin: 1rem 1rem 4rem 1rem;
    border-bottom: 1px solid #e1e5e7;
}
footer {
    background: white;
    padding: 0.3rem 0 0.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
}
button {
    width: 49%;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.button1 {
    float: left;
    background: white;
    border: 2px solid #5fc0cd;
    color: #5fc0cd;
}
.button2 {
    float: right;
    border: #5fc0cd;
    background: #5fc0cd;
    color: white;
}
