main {
  padding: 2rem;
  /*.pages {
    margin-top: 1rem;
    float: right;
    display: flex;
    li {
      margin: 0 1rem;
      input {
        width: 3.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        text-align: center;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type="number"]{
        -moz-appearance: textfield;
      }
      .pull-right {
        width: 3.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        font-size: 1.5rem;
        background: #fff;
        margin: 0 0.5rem;
        border: 1px solid #c7c7c7;
        cursor: pointer;
      }
      .pull-right:hover {
        text-decoration: none;
        color: #337ab7;
      }
      .pull-right:focus {
        text-decoration: none;
        color: #337ab7;
      }
    }
  }*/ }
  main .options {
    width: 100%;
    padding: 1rem 0;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background: #fff; }
    @media (min-width: 992px) {
      main .options .container {
        width: auto; } }
    @media (min-width: 768px) {
      main .options .container {
        width: auto; } }
    main .options select {
      width: 100%; }
    main .options .to {
      font-weight: bold; }
    main .options .type {
      margin: 2.5rem 0; }
    main .options .operation {
      float: right; }
      main .options .operation button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        color: #fff; }
      main .options .operation .clear {
        background: #ac2925; }
      main .options .operation .search {
        background: #5cb85c; }
  main .article {
    margin-top: 2rem;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background: #fff; }
    main .article .title {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f8f8f8; }
      main .article .title p {
        margin: 0; }
      main .article .title button {
        padding: 0.5rem 1rem;
        background: #5cb85c;
        border: none;
        border-radius: 5px;
        color: #fff; }
    main .article .tables {
      width: auto;
      margin: 1rem;
      background: #fff; }
      main .article .tables table thead {
        border: 1px solid #e7e7e7; }
        main .article .tables table thead tr th {
          text-align: center; }
        main .article .tables table thead tr td {
          vertical-align: middle;
          text-align: center; }
          main .article .tables table thead tr td img {
            width: 50px;
            height: 50px; }
          main .article .tables table thead tr td div {
            display: flex;
            justify-content: space-between; }
            main .article .tables table thead tr td div a {
              cursor: pointer; }
            main .article .tables table thead tr td div a:hover {
              text-decoration: none; }
  main .Pagination {
    float: right; }

/*# sourceMappingURL=article.css.map */
